@use './colorVariables.module.scss' as *;
@use './fonts.modules.scss' as *;

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Avenir Next.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-principal: 'Montserrat', sans-serif;
  --font-secondary: 'Avenir Next', sans-serif;
}

html,
body {
  background-color: $white;
  margin: 0;
  font-family: $font-principal;
  box-sizing: border-box; // Reset inicial
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6,
th,
dt,
legend,
optgroup,
button,
input,
select,
textarea {
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit; // Herencia controlada
}
